<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/c http://www.springframework.org/schema/c/spring-c.xsd">

<!-- bean definitions here -->

<!--    <bean class="com.cts.entity.Student" id="student1" p:name="Amit Birajdar" p:age="22" p:rollNumber="101"/>-->
<!--    <bean class="com.cts.entity.Student" id="student2" p:name="Satyarthi" p:age="21" p:rollNumber="102"/>-->
<!--    <bean class="com.cts.entity.Student" id="student3" p:name="Shaym" p:age="21" p:rollNumber="102"/>-->


<!--    Annotation based configuration-->

<!--    <context:component-scan base-package="com.cts.entity"/>-->


<!--    -&ndash;&gt; Setter Dependency Injection -->

<!--    <bean class="com.cts.entity.Address" id="address1" p:city="Pune" p:state="Maharashtra"/>-->
<!--    <bean class="com.cts.entity.Student" id="student1" p:name="Amit Birajdar" p:age="22" p:rollNumber="101" p:address-ref="address1"/>-->


<!--    Constructor Dependency Injection -->
<!--    <bean class="com.cts.entity.Address" id="address1">-->
<!--        <constructor-arg name="city" value="Pune"/>-->
<!--        <constructor-arg name="state" value="Maharashtra"/>-->
<!--    </bean>-->
<!--    <bean class="com.cts.entity.Student" id="student2">-->
<!--        <constructor-arg name="name" value="Satyarthi"/>-->
<!--        <constructor-arg name="age" value="21"/>-->
<!--        <constructor-arg name="rollNumber" value="102"/>-->
<!--        <constructor-arg name="address" ref="address1"/>-->
<!--    </bean>-->
<!--    <bean class="com.cts.entity.Address" id="address1" c:city="Pune" c:state="Maharashtra"/>-->
<!--    <bean class="com.cts.entity.Student" id="student1" c:name="Amit Birajdar" c:age="22" c:rollNumber="101" c:address-ref="address1"/>-->


<!--    Autowired by XML based 01 . byName 02. byType -->

<!--    <bean class="com.cts.entity.Address" id="address" p:city="Pune" p:state="Maharashtra" autowire-candidate="false"/>-->
<!--    <bean class="com.cts.entity.Address" id="address2" p:city="Mumbai" p:state="Maharashtra"/>-->
<!--    <bean class="com.cts.entity.Student" id="student" p:name="Amit Birajdar" p:age="22" p:rollNumber="101" autowire="byType"/>-->


    <bean class="com.cts.entity.Address" id="address1">
        <constructor-arg value="Pune" index="0"/>
        <constructor-arg value="Maharashtra" index="1"/>
    </bean>
    <bean class="com.cts.entity.Student" id="student" autowire="constructor">
    <constructor-arg value="Amit Birajdar" index="0"/>
    <constructor-arg value="22" index="1"/>
    <constructor-arg value="101" index="2"/>
    </bean>
</beans>

