<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean class="com.cts.entity.Student" id="student1">
        <property name="name" value="Amit Birajdar"/>
        <property name="age" value="24"/>
        <property name="rollNo" value="101"/>
    </bean>

    <bean class="com.cts.entity.Student" id="student2">
        <property name="name" value="Shree"/>
        <property name="age" value="25"/>
        <property name="rollNo" value="102"/>
    </bean>

</beans>